form input[type=text],form input[type=password] {
	height: 24px;
}

form input.error {
	border: solid 3px red;
}
form label.error {
	color: red;
	font-weight: bold;
	display: inline-block;
	margin-left: 5px;
}