body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
	font-family: "Microsoft YaHei", SimSun;
}

p, li, ul, ol, div {
	font-family: "Microsoft YaHei", SimSun;
}

footer a {
	color: gray;
}